.App{
  /* Aplica um gradiente linear como plano de fundo do contêiner principal */
  background: linear-gradient(to right bottom, #000000, rgb(22, 22, 22));
  height: 100vh; /* Define a altura do contêiner como a altura total da viewport */
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  background: linear-gradient(to left top, rgb(248, 162, 2), rgb(0, 0, 0));
  padding: 20px;
}

.App-logo{
  max-width: 10%;
  height: auto;
}


.App-header h1 {
  text-align: center;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pesquisa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.pesquisa input[type="text"] {
  padding: 10px;
  width: 300px;
  margin-bottom: 10px;
  margin-right: 20px;
  border-radius: 5px;
}

.pesquisa select {
  padding: 10px;
  border-radius: 5px;
  height: 40px;
}

.resposta {
  margin-top: 10px;
  width: 550px;
  height: 300px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-left: 10px;
  box-shadow: 10px 10px 20px rgb(248, 162, 2);
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
